

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden!important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* SCSS HEX */
/*$cadet: #5A707Dff;*/
/*$cerulean-frost: #5D94B5ff;*/
/*$gunmetal: #1F2E38ff;*/
/*$pale-cerulean: #A7C5D6ff;*/
/*$alice-blue: #E0EAF0ff;*/
