@import "../../global.css";
.leaflet-container {
    width: 996px;
    height: 664px;
    max-width: 100%;
    max-height: 100%;
    background-color: #888888;
    z-index: 0;
}

.mapContainer{
    width: 100%;
    /*min-height: 80vh;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    z-index: 0;

}
.title{
    padding: 1rem;
    color: #0078a8;
    transform-origin: center;
    transform-box: fill-box;
    /*animation: bounce 2s  alternate infinite ;*/

}
.elecPopupWrapper{
    display: flex;

    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.elecPopupLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.elecPopupImg{

}
@keyframes bounce{
    0% {

        transform: translateY(-4px);
    }
    25% {
        opacity: 1;
        transform: translateY(6px);
    }
    50% {
        opacity: 1;
        transform: translateY(-6px);
    }
    60% {
        transform: translateY(5px);
    }
    80% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(4px);
    }
}
.mapWrapper{
    overflow-x: hidden;
    max-width: 100vw;
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
